@import url("./_colors.css");
@import url("./_typography.css");
@import url("./_base.css");
@import url("./layout.css");

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--background);
  color: var(--text);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:visited {
  font-weight: 700;
  text-decoration: none;
  color: var(--text);
}

ul,
li {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
}

#app {
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 100%;
}
