.header-banner {
  position: sticky;
  top: 0;
  color: var(--primary-50);
  box-shadow: 0 0 1rem var(--text-100);
  background-color: var(--primary);
  margin: 0.5rem;
  border-radius: 0.5rem;
  > .title {
    padding: 1rem 2rem;
    text-align: left;
  }
}
.main-body {
  display: flex;
  min-height: 100vh;
  /* gap: 0.5rem; */
}

.main-sidebar {
  max-width: 200px;
  width: 100%;
  background-color: #fff;
  resize: horizontal;
  overflow: auto;
  margin: 0.5rem;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
}

.main-nav {
  padding: 0.5rem;
}

.main-nav-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: var(--font-size-1);

  > .tab {
    width: 100%;
    text-align: left;
    border-radius: 0.375rem;
    &:hover,
    &:focus {
      background-color: var(--primary-200);
    }
  }

  > .tab > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5rem 1rem;
    margin: 0;
  }
}

.main-content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.5rem;
  flex: auto;
  display: flex;
  flex-direction: column;
}
