.header-banner {
  position: sticky;
  top: 0;
  color: var(--primary-50);
  box-shadow: 0 0 1rem var(--text-100);
  background-color: var(--primary-900);
  > .title {
    margin: 1rem auto;
    padding: 0 2rem;
    text-align: left;
  }
}
.main-body {
  display: flex;
  min-height: 100vh;
}

.main-sidebar {
  width: 300px;
  background-color: var(--primary-100);
  resize: horizontal;
  overflow: auto;
}

.main-content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  flex: auto;
  display: flex;
  flex-direction: column;
}
