.transactions-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  padding: 1rem 0.5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  /* box-shadow: 0 0 0.5rem var(--text-200); */
  height: 100%;
}

.expense-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0.5rem 1rem;
  padding: 1rem;
  gap: 0.5rem;
}
