.transactions-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 2rem;
  padding: 2rem;
  background-color: #fff;
  border: 2px solid var(--text-50);
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem var(--text-100);
}

.expense-table {
  border: 2px solid var(--primary);
  width: 100%;
}

.expense-table-heading {
  padding: 1rem;
  background-color: var(--primary);
  color: var(--background);
  font-size: var(--font-size-1);
}

.expense-table-body {
  max-height: 400px;
  overflow-y: auto;
}

.expense-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0.5rem 1rem;
  padding: 1rem;
  gap: 0.5rem;
  /* background-color: #fff;
  border: 2px solid var(--text-50);
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem var(--text-100); */
}
