.expense-table-row {
  background-color: #fff;
  &.-alternate {
    background-color: var(--background-100);
  }
  > .cell {
    padding: 1rem;
  }
  .button {
    border: 2px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
    padding: 4px;
    margin: 0 0.5rem;
    border-radius: 4px;

    &:hover {
      background-color: var(--primary);
      color: var(--background);
    }
  }
}
