.expense-table-row {
  background-color: #fff;
  padding: 0 0.5rem;
  &.-alternate {
    background-color: var(--background-100);
  }
  > .cell {
    padding: 0.5rem;
    font-weight: 500;
    max-width: 400px;
    /* text-align: left; */
  }
  > .cell > .button {
    border: 2px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
    padding: 4px;
    margin: 0 0.5rem;
    border-radius: 4px;

    &:hover {
      background-color: var(--primary);
      color: var(--background);
    }
  }
}
