input {
  color: inherit;
}
.add-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 100%;
  width: 100%;
  transition: transform 0.1s ease;

  &:hover,
  &:focus-within {
    transform: scale(1.01);
    border: 2px sold var(--text-100);
  }

  > .input {
    background-color: #fff;
    border: 2px solid var(--text-50);
    border-radius: 0.25rem;
    padding: 0.5rem;
    color: var(--text);
    width: 100%;
    text-overflow: ellipsis;
  }

  > .button {
    padding: 0.55rem 3rem;
    border-radius: 0.25rem;
    font-weight: 600;
    background-color: var(--primary);
    border: none;

    &.-edit {
      background-color: var(--accent);
    }
  }
}
